* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 35px;
  background: linear-gradient(135deg, #b1bfc5, #485961, #7e5e73, #e5add2);
}

.carousel .card,
.carousel .img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carousel .card {
  height: 300px;
  width: 270px;
  list-style: none;
  background: #ffffff88;
  border-radius: 8px;
  display: flex;
  padding-bottom: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.wrapper {
  max-width: 950px;
  width: 100%;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  overflow: hidden;
}

.wrapper i {
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 1.25rem;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 0;
}

@media screen and (max-width: 900px) {
  .carousel {
    width: 75%;
    margin: 0 auto;
  }
  
  .wrapper {
    width: 75%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .wrapper .carousel {
    grid-template-columns: 1fr; 
  }
  
  .wrapper i:first-child {
    left: 10%;
  }
  
  .wrapper i:last-child {
    right: 10%;
  }
  
  .carousel .card {
    height: 300px;
    width: 270px;
  }
}

@media screen and (max-width: 600px) {
  .carousel {
    width: 45%;
    margin: 0 auto;
  }
  
  .wrapper {
    width: 45%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .wrapper .carousel {
    grid-template-columns: 1fr; 
  }
  
  .wrapper i:first-child {
    left: 0px;
  }
  
  .wrapper i:last-child {
    right: 0px;
  }
  
  .carousel .card {
    height: 240px;
    width: 210px;
  }
 
  
}


.wrapper i:first-child {
  left: 10%;
}

.wrapper i:last-child {
  right: 10%;
}

h1 {
  text-align: center;
}

.card img {
  width: 148px;
  height: 148px;
  object-fit: cover;
  border-radius: 50%;
  background: #af829f;
  animation: be-borderAnimation 5s infinite;
  transition: border-color 0.3s ease;
}

.card img:hover {
  width: 155px;
  height: 155px;
}

@keyframes be-borderAnimation {
  0% {
    color: #aa4185;
    border: 3px solid #aa4185;
  }
  30% {
    color: #824aafd3;
    border: 3px solid #824aafd3;
  }
  62% {
    color: #9a6bf1;
    border: 3px solid #9a6bf1;
  }
  80% {
    color: #824aafd3;
    border: 3px solid #824aafd3;
  }
  100% {
    color: #aa4185;
    border: 3px solid #aa4185;
  }
}

.card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.profile-preview .popup{
  display: none;
  padding:2rem;
  text-align: center;
  background: #1b1919e5;
  position: relative;
  margin-top: -40%;
  margin-left: 15%;
  width: 40rem;
  border-radius: 8px;
  animation: be-borderAnimation 5s infinite;
  transition: border-color 0.3s ease;
}

.profile-preview .popup img {
  height: 15rem;
  border-radius: 25%;
  animation: be-borderAnimation 5s infinite;
  transition: border-color 0.3s ease;
}


.profile-preview .popup p{

  padding: 10px;
  justify-content: center;
  margin: 15px;
  
}
.profile-preview .popup.active {
  display: inline;
}
.profile-preview .popup img{
height: 15rem;
border-radius: 25%;
animation: be-borderAnimation 5s infinite;
transition: border-color 0.3s ease;


}
.profile-preview .popup h2{
  padding: 10px;
  justify-content: center;
  margin: 5px;
}
.close{
  position:absolute;
  top:1rem;
  right:1.5rem;
  cursor: pointer;
  font-size: 2rem;
  border: none;
  background: transparent;
  transition: 1ms;
  color: #e91a1a;
 
}
.close:hover {
  transform: rotate(90deg);
}

.email{

  margin-right: 5px;
}

@media (max-width:991px){

  html{
     font-size: 55%;
  }

}

@media (max-width:768px){
  .profile-preview .popup{
    margin-left: 32%;
  }

  .profile-preview .popup img{
     height: 25rem;
  }

}

@media (max-width:450px){

  html{
     font-size: 50%;
  }

}